/* ================= все что работает для всех ================ */
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1366px;
    margin: 0 auto ;
}
body {/*импортируем шрифты*/
    font-family: 'Montserrat', sans-serif;
}
.clearfix:after {/* clearfix-распостраненное название css-правила */
    content:"";
    display: table;
    clear: both;
}
.padding-site {/* набивка сайта */
    padding-left: 98px;
    padding-right: 98px;
}
/* ============================================================== */
.slider {/* фон всего блока,главный блок */
    height: 800px;
    background-image: url(../img/slider-img.png);
    position: relative;
}
/* ---------------------------------------------- */
.header {
    padding-top: 63px;
}
.menu {
    float: right;
}
.menu-list {
    list-style-type: none;
    float: left; 
}
.menu-list > a {
   text-decoration: none;
}
.menu-link:hover{
    color:#212121;
}
.menu-link {/*17-22*/
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 13px;
}
.menu-link-active { /*17*/
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}
/* ---------------------------------------------- */
.slider-text {
    margin-top: 288px;
}
.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
}
.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 20px;
    margin-left: 8px;
    line-height: 24px;
    margin-bottom: 33px;
}
/* --------------------------- 2 ---------------------------- */
.menu-featured-dv {
    height: 369px;
    width: 1171px;
    margin-top: 120px;
    margin-left: 98px;
}
.menu-featured {
    float: left;
    margin-top: -142px;
    padding-top: 15px;
}
.menu-list-featured {
    list-style-type: none;
    float: left;
    border-bottom: 1px solid #6c6c6c;
    padding-bottom: 18px;
    padding-top: 119px;
}
 .menu-featured a {
    text-decoration: none;   
}
/* ------------------------------------- */
.menu-list-featured-active {
    font-size: 36px;
    font-weight: 700;
    border-bottom: 3px solid #212121;
    padding-left: 9px
}
.menu-list-featured-active a {
    color: #212121;
}
.menu-list-featured-passive {
    font-size: 36px;
    font-weight: 700;
    padding-left: 16px;
    padding-right: 23px;
    padding-bottom: 20px;
    display: inline-block;
}
.menu-list-featured-passive a {
    color: #6c6c6c;
}
/* ------------------------------------- */
.explore-all-location {
    margin-left: 983px;
    margin-top: -51px;
}
.fishnet-chair-display-none {
    margin-left: -1px;
    width: 270px;
    height: 270px;
    background-image: url(../img/back.svg);
    text-align: center;
    clear: both;
    float: left;
    display: none;
}
.featured-new-product-1 {
    margin-top: 41px;
    margin-left: -2px;
    width: 270px;
    height: 270px;
    background-image: url(../img/product-1.svg);
    text-align: center;
    clear: both;
    float: left; 
} 
.featured-new-product-1:hover > .fishnet-chair-display-none {
    display: block;
}
.featured-new-product-2 {
    width: 270px;
    height: 270px;
    display: inline-block;
    margin-top: 67px;
    margin-left: -4px;
    background-image: url(../img/product-2.svg);
}
.featured-new-product-2:hover > .fishnet-chair-display-none {
    display: block;
}
.featured-new-product-3 {
    width: 270px;
    height: 270px;
    clear: both;
    display: inline-block;
    margin-top: 50px;
    margin-left: 29px;  
    background-image: url(../img/product-3.svg);
}
.featured-new-product-3:hover > .fishnet-chair-display-none {
    display: block;
}
.featured-new-product-4 {
    width: 270px;
    height: 270px;
    clear: both;
    margin-top: -272px;
    margin-left: 20px;
    background-image: url(../img/product-4.svg);
    float: right;
}
.featured-new-product-4:hover > .fishnet-chair-display-none {
    display: block;
}
/* ------------------------------------- */
.btn-circle-location {
    margin-left: 110px;
    margin-top: 62px;
    display: inline-block;
}
.btn-circle + p {
    padding-top: 19px;
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
}
.fishnet-chair-content {
    margin-top: 23px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    text-align: center;
}
/* -------------------- 3 --------------------- */
.promo-fishnet-chair {
    float: left;
    width: 683px;
    height: 683px;
    margin-top: 120px;
    background-image: url(../img/promo-img1.svg);
    clear: both;
}
.promo1-fishnet-chair {
    float: left;
    width: 683px;
    height: 683px;
    margin-top: -683px;
    background-image: url(../img/promo-img.svg);
    clear: both;
    margin-left: 682px;
}
.btn-white-home-location {
    margin-top: 34px;
    margin-left: 50px;
    float: left;
}
.promo-exclusive-text {
    width: 115px;
    height: 13px;
    color: #1e88e5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    float: left;
    margin-top: 228px;
    margin-left: 51px;
}
.promo-text {
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    clear: both;
    float: left;
    margin-top: 30px;
    margin-left: 51px;
}
.promo-content-text {
    width: 374px;
    height: 36px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    float: left;
    margin-top: 6px;
    margin-left: 51px;
}
/* ------------------------- 4 -------------------------- */
.trending-products {
    margin-top: 119px;
    margin-left: 98px;
    width: 1171px;
    margin-bottom: 120px;
    float: left;
}
.explore-all-trial{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    float: left;
    margin-top: -33px;
    margin-left: 980px;
}
.trending-products-text {
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    float: left;
    margin-top: -3px;
}
.trending-products11-img {
    display: block;
    float: left;
    clear: both;
    margin-top: 57px;
    margin-right: 400px;
    margin-left: 0px
}
.trending-products21-img {
    margin-top: 55px;
    margin-left: -370px;
    float: left;
}
.trending-products31-img {
    margin-top: 55px;
    margin-left: 31px;
    float: left;
}
.trending-products41-img {
    margin-top: 29px;
    margin-right: 400px;
    float: left;
}
.trending-products5-img {
    margin-top: 30px;
    margin-left: -370px;
    float: left;
}
.trending-product6-img {
    margin-top: 29px;
    margin-left: 31px;
    float: left;
}
.trending-product-outline:hover {
    outline: 1px solid #212121;
}
/* -------------- 5 -------------------- */
.slider-hot {
    height: 800px;
    border: 0px solid #212121;
    margin-top: 2000px;
    background-image: url(../img/slider.svg);  
}
.slider-hot-content {
    width: 486px;
    height: 277px;
    border: 0px solid #212121;
    margin-left: 98px;
    padding-top: 287px;
}
/* ------------------------ */
.slider-hot-header {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: #e53935;
    letter-spacing: 1.8px;
    display: inline-block;
    margin-top: -17px;
}
.slider-hot-bigtext {
    color: #212121;
    font-family: "Montserrat";
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 6px;
}
.slider-hot-smalltext {
    padding-top: 10px;
    width: 458px;
    height: 38px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
/* --------------------------------- */
.btn-hot-deal-location {
    margin-top: 32px;
}
.slider-hot-pagination {
    bottom: 19px;
    text-align: center;
    margin-top: 170px;
}
/* ------------------ 6 ----------------- */
.exclusive-secondbox {
    height: 570px;
    margin-top: 120px;
    margin-left: 98px;
    margin-right: 98px;
}
.exclusive-second-leftbox {
    width: 570px;
    height: 570px;
    background-image: url(../img/product-1-lg.svg);
    float: left;
}
.exclusive-second-content {
    width: 332px;
    height: 199px;
    margin-top: 186px;
    margin-left: 30px; 
}
.product-2-sm {
    float: right;
    margin-left: 30px;
}
.product-3-sm {
    float: right;
}
.product-4-sm {
    float: left;
    margin-top: -269px;
    margin-left: 600px;
}
.product-5-sm {
    float: right;
    margin-top: -269px;
    margin-bottom: 10px;
} 
.exclusive-second-fixdox {
    clear: both;
}
.exclusive-second-header {
    color: #1e88e5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    display: inline-block;
    margin-top: -17px;
}
.exclusive-second-bigtext {
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    margin-top: 8px;
    margin-left: 2px;
}
.exclusive-second-smalltext {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 11px;
}
.btn-exclusive-location {
    margin-top: 22px;
}
/* ---------------------------------------- */

